
<mat-card [ngClass]="{'custom-card':true}"> CREATE AN ACCOUNT <mat-icon>account_box</mat-icon>
<mat-card-subtitle> *Please enter the following information to create your account. </mat-card-subtitle>
<div class="example-container">
    <form class="example-form" #vmregform="ngForm" (ngSubmit)="save(vmregform.value)"> 
        <mat-form-field class="example-full-width">
          <input matInput placeholder="First Name"  [(ngModel)]="vmregform.firstname"  name="firstname" required>
         
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Middle Name/Initial" minlength="1"  [(ngModel)]="vmregform.middlename"  name="middlename" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Last Name" [(ngModel)]="vmregform.lastname"  name="lastname" required>
        </mat-form-field>
       
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Email"  [(ngModel)]="vmregform.email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" name="email" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Password" [(ngModel)]="vmregform.password"   type="password"  name="password" minlength="6" required>
 
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Confirm Password" [(ngModel)]="vmregform.confirm" password-verify="[[vmregform.password]]" type="password"  name="confirm" required >
            <div [hidden]="vmregform.password == vmregform.confirm">Passwords do not match and Password should be 6 digit!</div>
        </mat-form-field>
        <section class="example-section">
            <mat-checkbox class="example-margin" [(ngModel)]="vmregform.is_subscribed"  name="is_subscribed">Sign Up for Newsletter</mat-checkbox>
           </section>
         <button mat-raised-button color="primary"   [disabled]="!vmregform.form.valid"
         matTooltip="Info about the action"
         aria-label="Button that displays a tooltip when focused or hovered"><mat-icon>save</mat-icon>Register</button>
         <button mat-raised-button color="warn"><mat-icon>undo</mat-icon>Reset</button>
      </form>
    
  </div>
  <mat-card-footer>* All Fields are mandatory</mat-card-footer>
</mat-card>