<div class="mattablinks">
    <nav mat-tab-nav-bar [backgroundColor]="background" style="background-color:#000">
         <img src="../../assets/logo.png">
      </nav>
  </div>
    <table style="padding-top:30px;">
    <tr>
    <td class="container2">  <app-vmregform></app-vmregform></td>
    <td class="container1"> 
        <mat-card [ngClass]="{'custom-card':true}"> Sign-in Here<mat-icon>account_circle</mat-icon>
            <mat-card-subtitle>  <app-vmlogin> </app-vmlogin>  </mat-card-subtitle>
        </mat-card>
      </td>
    
    </tr>

   </table>
